
#root {
  position: relative;
  /* min-height: 130vh; */
  --color-contrast: hsl(198, 60%, 63%);
}
@view-transition {
  navigation: auto;
}
::view-transition-group(*) {
  animation-duration: .6s;
}
.relative {
  position: relative;
}
.thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 2 /3;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}
.full {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  z-index: 0;
}
.mobile-dialog-img.active {
  height: fit-content;
}
/* ::view-transition-old(projects),
::view-transition-new(projects) {
  animation: none; 
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
  border-radius: 2rem;
} */

#from #thumbnail, #to #full {
  view-transition-name: poster;
}
 #to  {
  view-transition-name: projects;
  height: 100%!important;
  padding-bottom: 3rem;
}
::view-transition-old(poster),
::view-transition-new(poster) {
  animation: none; 
  /* animation: 300ms cubic-bezier(0, 0, 0.2, 1) both fade-in;
  animation-delay: 0.25s; */
  mix-blend-mode: normal;
  /* width: 100%; */
  /* height: 100%; */
  overflow: clip;
  z-index: 0;
}
::view-transition-group(poster) {
    z-index: 0;
}
@keyframes fade-in {
    from {
        transform: translateY(20px);
    } to {
       transform: translateY(0px);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;

    }
}
/* ::view-transition-new(movie-description) {
    animation: 300ms cubic-bezier(0, 0, 0.2, 1) both fade-in;
    animation-delay: 0.5s;
}

::view-transition-old(movie-description) {
    animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
} */


.img-wrapper-projects {
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: 55dvh 25dvh auto;
    /* min-height: 70dvh 20dvh auto; */
    align-items: start;
    justify-items: center;
    justify-content: start;
}
.projects-header-full {
    grid-row: 2 / 4;
    grid-column: 1;

    .project-details {
    margin: auto;
    padding: 1rem;

}
}

.projects-wrapper-full {
    grid-row: 1 / 3;
    grid-column: 2;
    width: 100%;
    height: 100%;
    overflow: clip;
    position: relative;
}

  .project-details h1 {
      color: hsl(var(--project-h1));
    }

.project-details span {
  font-weight: 400;
}
.view-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 650px) {
  .img-wrapper-projects {
    grid-template-rows: 55dvh 30dvh auto;
  }
}
@media (max-width: 502px) {
   #main-grid-projects, #main-grid-events{
    margin: 0;
  }
  #event-grid-floor {
  bottom: -70px;
}
.dark .img-wrapper {
  background-image: url('/assets/porche/porche-mob.jpg');
}
.light .img-wrapper {
  background-image: url('/assets/porche/porche-mob-stencil.png');
}
  .projects-header-full {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}
  .img-wrapper-projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .projects-wrapper-full {
    grid-row: 2;
    grid-column: 1;
    height: 410px;
  }
  .thumbnail-gallery {
    grid-row: 3;
    grid-template-columns: repeat(auto-fill, 70px);
    width: 100%;
    padding-top: .3rem;
    padding-left: .2rem;
    direction: ltr;
    overflow: hidden;
  }
  .thumbnail-item {
    height: 60px;
  }
}

.projects-wrapper {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, 150px);
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.projects-header {
  grid-row: 2;
  grid-column: 1 / -1;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.project-id {
  text-transform: capitalize;
}
.view-wrapper
#to::view-transition-new(poster) {
  object-fit: cover;
}
#from::view-transition-new(poster) {
  object-fit: cover;
}
#from {
  border-top: 5px solid rgb(254, 1, 1);
}
#to {
  /* border-top: 4px solid rgb(0 255 79); */
  border-top: 0px solid transparent;
}

/* #thumbnail {
  width: 100px;
  height: 150px;
} */

/* ::view-transition-old(poster),
::view-transition-new(poster) {
    animation: none;
    mix-blend-mode: normal;
    height: 100%;
    overflow: clip;
} */
/* @keyframes fade-and-scale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */
.App {
  text-align: center;
}
.App-logo-positioning {
  position: absolute;
  right: 1rem;
  top: .7rem;
}
.App-logo {
  position: relative;
}
.App-logo .errors {
  position: absolute;
  left: 0;
}
.App-logo img {
  height: 60px;
  width: 60px;
}
.App-logo::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.299);
  border-radius: 100vw;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.AppDrawer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: hsl(var(--foreG));
    backdrop-filter: blur(25px);
    border-top: 1px solid #5b5b5b;
    border-radius: 20px 20px 0 0;
    z-index: 1000;
    max-height: calc(100dvh - var(--header-height));
    padding: 1.5rem 0 25rem;
    cursor: grab;
    overflow: hidden;

    .grab-scroll {
      width: 7rem;
      padding: .5rem;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--bgContact);
      border-radius: 100vw;
      transition: 250ms ease;
    }
    .grab-scroll:hover {
      background-color: var(--theme-clr-font-c);
    }
    .drawer-title {
      padding: 1rem 0 .5rem 0;
      font-weight: 400;
      font-size: 1.2rem;
      font-weight: 500;
      color:  var(--bgContact);
    }
    .contact-container {
     
      text-align: center;
      border-radius: 0.125rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .contact-grid {
      position: relative;
      display: grid;
      text-align: left;
      column-gap: 1rem;
      row-gap: 2rem;
      grid-template-columns: minmax(30px, 50px) 1fr minmax(30px, 50px) 1fr;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1100px;
      background-color: hsl(var(--nav-clr));
      padding: 2rem 1rem;
      border-radius: 1rem;
      overflow: hidden;
      svg {
        font-size: 2rem;
        vertical-align: middle;
        color: var(--theme-clr-font-c);
      }

      ul {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;;
        font-weight: 500;
      }
      li a {
        color: hsl(var(--nav-bg));
        text-decoration: none;
        position: relative;
      }
      li a svg {
        padding-right: 1rem;
        font-size: 2.5rem;
        color: var(--theme-clr-font-c);
      }
      li span {
        font-weight: 600;
        color: var(--theme-clr-font-c);
      }
      /* li a:hover::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgb(149, 149, 149);
        width: 100%;
        z-index: -1;
      } */
  }
    .stripe::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 80px;
      background-color: rgba(0, 191, 255, 0.3);
      border: 2px solid var(--theme-clr-font-c); 
      transform: rotate(-135deg) translateX(100px);
      left: 190px;
      top: 100px;
    }
}
.admin-wrapper {
  height: 100%;
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
  grid-auto-flow: dense;
  margin-bottom: 4rem;
}
.admin-header {
  margin-block: 1rem;
}
.admin-header h1, .admin-header p {
 color: var(--theme-clr-font);
}
.readmore {
  color: var(--admin-links-clr);
  margin: .2rem 0;
}
.readmore.expanded {
  color: var(--theme-clr-font);
}
.button-wrapper {
  margin: 1rem;
  color: hsl(var(--foreG));
}
.admin-container {
  grid-column: 1 / 6;
  margin: 0 2rem;
  overflow: hidden;
  background-color: var(--admin-bg);
  border-radius: var(--radius);
  padding: 1rem;
}
.admin-container h2 {
  color: hsl(var(--foreG) / .9);
}
#admin-analytics {
  grid-column: 1 / -1;
  grid-row: 5;
}
#admin-analytics >* .button-wrapper {
  margin: 0;
}
.admin-secret {
  display: none;
}
.wrapper-users  {
  color: hsl(var(--foreG));
}
.unauthorized-container {
    grid-row: 1 / 5;
    z-index: 1000;
    position: relative;
    pointer-events: all;
   
}
.container-400 {
  grid-column: 1 / -1;
  height: 100dvh;
  display: grid;
  place-content: center;
   background-color: black;
}
.container-400 p {
   text-align: center;
   color: rgb(209, 209, 209);
}
.container-400 h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(142, 49, 49);
}
.warning {
  max-width: 720px;
  padding: 1rem;
}
.warning p{
  margin-bottom: .7rem;
  text-align: left;
  color: rgb(142, 49, 49);
}
.table-wrapper {
  overflow-x: auto;
  margin-inline: auto;
  /* background-color: rgb(114, 114, 114); */
  /* padding: 1px; */
}
.analytics-caption {
    text-align: left;
    padding: .5rem;
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto;
    
}
.t-clr {
  color: hsl(var(--table-clr) / .9);
}
.analytics-caption label {
  white-space: nowrap;
}
.analytics-caption div {
  display: flex;
  align-items: center;
  width: 100%;
}
.table-analytics {
  border-collapse: collapse;
  min-width: 100%;
  background-color:  hsl(var(--table-bg) / .7 );
  padding: 1rem;
  border-radius: var(--radius);
 
  .tr {
    background-color: hsl(var(--table-bg));
  }
   thead tr {
    background-color: hsl(var(--table-header-bg));
  }
  thead tr th {
     padding: .5rem;
     text-align: left;
  }
   tr td {
    padding: .5rem;
    white-space: nowrap;
  }
 tbody tr:nth-of-type(2n) {
    background-color: hsl(var(--grayblue-600) / .3);
  }
}
@media (max-width: 650px) {
  .analytics-caption {
    grid-template-columns: 1fr
  }
  th {
    display: none;
  }
  td {
    display: block;
    padding: .5rem 1rem;
  }
  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}
@media (max-width: 1099px) {
  .admin-container {
    margin: 0 1rem;
    grid-column: 1 / -1;
}
} 

@media (min-width: 1100px) {

  .admin-secret {
        position: relative;
        display: block;
        grid-column: 6 / -1;
        grid-row: 1 / 7;
    /* img {
      max-width: 150px;
    } */
     .readmore {
      color:var(--theme-clr-font);
      padding: .2rem;
      border: 2px solid var(--theme-clr-font);
      border-radius: 5px;
      font-weight: 900;
     }
  }
}
@media(max-width: 650px) {
  .AppDrawer {
    border-radius: 0;
  }
}
@media(max-width: 750px) {
  .contact-grid {
    grid-template-columns: minmax(30px, 50px) 1fr!important;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
