*, *::before, *::after{
  box-sizing: border-box; 
}
:root {
 --clr-ft-dark: #2e2e2e;
 --clr-ft-light: rgb(206, 206, 206);
 --foreG: #2e2e2e;
 --backG: #808080;
 --ft-title: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;

 --bar-width: 60px;
 --bar-height: 8px;
 --hamb-gap: 6px;
 --hamb-margin: 1rem;
 --animation-timing: 200ms ease;
 --hamb-height: calc(var(--bar-height) * 3 + var(--hamb-gap) * 2);
}
*{
  margin: 0; 
  padding: 0; 
}

ul[role='list'], ol[role='list']{
  list-style: none; 
  color: #808080;
}
li {
  list-style: none;
  text-decoration: none;
}
html:focus-within{
  scroll-behavior: smooth; 
}

a:not([class]){
  text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto; 
  vertical-align: middle; 
  font-style: italic; 
  background-repeat: no-repeat; 
  background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--clr-ft-dark);
}

button {
  all: unset;          
  display: inline-block; 
  cursor: pointer;     
  text-align: center;
  background: none;     
  border: none;         
  font: inherit;      
  color: inherit;        
  padding: 0;            
}

button:focus {
  outline: none;       
}

input, button, textarea, select{
  font: inherit; 
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
  }
  *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
  }
}

body, html{
  height: 100%; 
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  font-family: var(--ft-title);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Courier New', Courier, monospace;
  background-color: var(--backG);
}
header {
    display: grid;
    grid-template-columns: 1fr;
    height: 15dvh;
    align-items: center;
    position: a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: gray;

  .theme-selector {
    justify-self: flex-start;
    grid-row: 1;
    padding: 1rem;
    rotate: 22deg;
    transition: all 500ms ease-out;
  }
  .theme-selector svg {
    font-size: 2rem;
    color: var(--clr-ft-dark);
    background-color: transparent;
  }
  .navUl {
    grid-row: 1;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 62vw;
    gap: clamp(.8rem, 5vw, 5rem);
  }
  li {
    position: relative;
  }
  li a, .contact-button-header {
    text-decoration: none;
    color: var(--clr-ft-dark);
    font-weight: 900;
    font-size: 1.25rem;
  }
  /* li a:hover {
    background-color: rgb(149, 149, 149);
  } */
  li a:hover::after, .contact-button-header:hover::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(149, 149, 149);
    width: 100%;
    z-index: -1;
  }
}
footer {
  height: 15dvh;
  border-top: 1 px solid rgb(78, 78, 78)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hamburger:has(input:checked) {
  --clr-ft-dark: rgb(200, 200, 200); 
  --backG:

  .hamberger 
}
.sidebar {
  display: none;
  transition: translate var(--animation-timing);
  translate: -100%;
  min-width: 12rem;
  min-height: 100dvh;
  background-color: var(--foreG);
  ul {
    margin-top: 6rem;

  }
  ul li:not(.AppDrawer ul li) {
    margin: 2rem;
  }
  ul li a:hover {
   transition: 250ms ease;
  }
  ul li a:not(.AppDrawer ul li a) {
    color: var(--clr-ft-light);
  }
  .contact-button-header {
    color: var(--clr-ft-light);
  }
}


.hamburger:has(input:checked) + .sidebar {
  translate: 0;
}


.hamburger:has(input:focus-visible)::before, 
.hamburger:has(input:focus-visible)::after,
.hamburger input:focus-visible  {
 border: 1px solid var(--foreG);
 box-shadow: 0 0 0 1px var(--backG);
}
.hamburger::before,
.hamburger::after,
.hamburger input {
 content: '';
 width: var(--bar-width);
 height: var(--bar-height);
 background-color: var(--clr-ft-dark);
 border-radius: 100vw;
 transform-origin: left center;
 transition: all var(--animation-timing),
 width var(--animation-timing),
 rotate var(--animation-timing),
 translate var(--animation-timing);
}
.hamburger {
--x-width: calc(var(--hamb-height) * 1.41421356237);

  display: none;
  flex-direction: column;
  gap: var(--hamb-gap);
  width: max-content;
  position: absolute;
  left: var(--hamb-margin);
  top: var(--hamb-margin);
  z-index: 100;
  cursor: pointer;
}
.hamburger input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  opacity: 0;
}
.hamburger:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger:has(input:checked)::after {
rotate: -45deg;
width: var(--x-width);
translate: 0 calc(var(--bar-height) / 2);
}

.container {
    height: calc(min(100dvh) - 30dvh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-grid {
  --column-count: 6;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 
  minmax(1rem, 1fr) 
  repeat(var(--column-count), 
  minmax(0, 12rem)) minmax(1rem, 1fr);
  margin-top: 15dvh;
}
.main-grid>* {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: subgrid;
  overflow: hidden;
}
.hero {
  min-height: 73vh;
}

.hero__img, .filterImage {
  grid-row: 1;
  grid-column: 4 / 9;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 0 0;
  /* border-radius: 2rem 0 0 2rem; */
  /* transform: scale(0.8) translateY(50px) translateZ(50px); */
  transform: scale(0.9) translateX(75px) translateZ(75px) perspective(200px);
  animation: smoothScale 1s ease-out; 
  will-change: transform;
  /* animation-duration: 600ms; */
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}
@keyframes smoothScale {
  0% {
    transform: scale(0.9) translateX(75px) translateZ(75px);
    border-radius: 0 0 0 0;
  }
  50% {
    transform: scale(0.9) translateX(40px) translateZ(0);
    border-radius: 0 0 0 0;
  }
  100% {
    transform: scale(1) translateX(0) translateZ(0);
    border-radius: 2rem 0 0 2rem; /* Apply a little depth effect */
  }
}

.hero__img {
  z-index: 0;
}
.filterImage {
  z-index: 1;
  /* background-color: #00000053; */
}
.main__title {
  font-size: clamp(3.5rem, 7vw, 5rem);
  margin-top: calc(6rem - clamp(1rem, 5vw, 5rem));
  text-shadow: 1px 1px 3px #2fa5b5fe;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.hero__title {
  grid-column: 2 / 8;
  grid-row: 1;
  z-index: 2;
}
h1 span {
  color: #be4242;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #03505a;
}
.hero__body {
  display: grid;
  grid-row: 1;
  grid-column: 2 / 4;
  margin-top: calc(12rem - clamp(1rem, 2vw, 15rem));
  padding-left: 1rem;
  position: relative;
}
.hero__subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  transition: 200ms ease;
}
@media(max-width: 845px) {
  .hero__subtitle {
    line-height: 1.1;
  }
}
.btn-logout {
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: -20px;
  font-weight: 600;
  color: var(--clr-ft-dark);
  z-index: 10;
}
.contact-btn {
    position: absolute;
    /* bottom: calc(clamp(0rem, 12vw, 15rem) - 4.7rem); */
    bottom: 5px;
    left: 1rem;
    padding: 1rem;
    border-style: dashed;
    border-color: rgb(172 63 63);
    border-width: 2px;
    border-radius: .5rem;
    outline: 2px solid;
    outline-offset: 3px;
    height: fit-content;
    transition: all 250ms ease;
    background-color: #2e2e2e;
    z-index: 3;
    font-family: var(--ft-title);
    font-weight: bolder;
    color: #a6a6a6;
    /* text-transform: uppercase; */
}
.contact-btn:hover {
 background-color: rgb(149, 149, 149);
 color: rgb(213, 213, 213);
}
.small_screen {
  display: none;
}
@media (max-width: 650px) {
  .main-grid>*>* {
    grid-column: 1 / -2;
  }
  header {
    align-items: start;
  }
  header .navUl {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .sidebar {
    display: block;
  }
  .theme-selector {
    justify-self: flex-end!important;
    rotate: 142deg!important;
  }
  .hero {
    min-height: 60dvh;
  }
  .hero__img, .filterImage {
    grid-column: 1 / -1;
    border-radius: 0!important;
  }
  .hero__title {
    margin-top: 5.5rem;
    font-size: clamp(2.85rem, 12vw, 5rem);
  }
  .hero__body {
    display: none;
  }
  .small_screen {
    display: grid;
    padding-block: 1rem;
  }
  .hero__body_2 {
    grid-row: 1;
    grid-column: 4 / 9;
  }
  .contact-btn {
    position: relative;
    bottom: 0rem;
    left: 0;
    justify-self: self-start;
    grid-row: 1;
    grid-column: 1 / 4;
    height: auto;
    margin: 1rem;
  }
}

/* Forms */

#form-login {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.form-control {
  display: grid;
  text-align: left;
}
.form-control > :user-invalid {
  outline: 3px solid rgb(225, 55, 55);
  outline-offset: -4px;
  }

  .form-control input,
  .form-control textarea,
  .form-control select {
    padding: .5rem;
    border: 1px solid ;
    background-color: rgb(157, 157, 157);
    width: 100%;
    /* color: var(--clr-title);
    font-size: var(--ft-sm-me); */
  }
  .form-control input:focus,
  .form-control textarea:focus,
  .form-control select:focus {
    outline: 3px solid var(--clr-ft-dark);
    outline-offset: -3px;
    transition: .2s ease;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--clr-footer-header);
    letter-spacing: .18rem;
    opacity: .5;
  }
  .form-control span, .errors{
    color: #eca0a0;
    /* font-size: calc(var(--ft-small) + 2px); */
    text-align: center;
    font-weight: 800;
}