@font-face {
  font-family: "Orbitron";
  src: url("/fonts/orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap; 
}

*, *::before, *::after{
  box-sizing: border-box; 
}
:root {
 --clr-ft-dark: hsl(0, 0%, 18%);
 --clr-ft-light: rgb(211, 211, 211);
 --foreG: #2e2e2e;
 --backG: #8c8a8a;
 --ft-title: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;

 --radius: .4rem;
 --bar-width: 60px;
 --bar-height: 8px;
 --hamb-gap: 6px;
 --hamb-margin: 1.2rem;
 --animation-timing: 250ms ease-out;
 --animation-delay: .2s;
 /* --animation-timing: 0.4s cubic-bezier(0.985, 0.135, 0.15, 0.76); */
 --hamb-height: calc(var(--bar-height) * 3 + var(--hamb-gap) * 2);
}
*{
  margin: 0; 
  padding: 0; 
}

ul[role='list'], ol[role='list']{
  list-style: none; 
  color: #808080;
}
li {
  list-style: none;
  text-decoration: none;
}
html:focus-within{
  scroll-behavior: smooth; 
}

a:not([class]){
  text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto; 
  vertical-align: middle; 
  font-style: italic; 
  background-repeat: no-repeat; 
  background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--clr-ft-dark);
}

button {
  all: unset;          
  display: inline-block; 
  cursor: pointer;     
  text-align: center;
  background: none;     
  border: none;         
  font: inherit;      
  color: inherit;        
  padding: 0;            
}

button:focus {
  outline: none;       
}

input, button, textarea, select{
  font: inherit; 
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
  }
  *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
  }
}

body, html{
  height: 100%; 
  scroll-behavior: smooth; 
}
body::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

body {
  margin: 0;
  font-family: var(--ft-title);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Courier New', Courier, monospace;
  background-color: var(--backG);
  /* background-image: url("/assets/bckgroud.jpg");
  background-repeat: no-repeat, repeat;
  height: 100%;
  background-size: cover; */
  position: relative;
}
header.active {
 
  .theme-selector svg  {
    color: var(--clr-ft-light);
    transition: 200ms ease-out;
  }
  .hamburger::before, .hamburger::after {
    background-color: var(--clr-ft-light);
    transition: 200ms ease-out;
  }
  li a, .contact-button-header:not(.navUi .contact-button-header) {
    color: var(--clr-ft-light);
    transition: 200ms ease-out;
  }
}
header {
    display: grid;
    grid-template-columns: 1fr;
    height: 15dvh;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    /* background-color: var(--backG); */

  .theme-selector {
    justify-self: flex-start;
    grid-row: 1;
    padding: 1rem;
    rotate: 22deg;
    transition: all 500ms ease-out;
  }
  .theme-selector svg {
    font-size: 2rem;
    color: var(--clr-ft-dark);
    background-color: transparent;
  }
  .navUl {
    grid-row: 1;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 62vw;
    gap: clamp(.8rem, 5vw, 5rem);
  }
  li {
    position: relative;
  }
  li a, .contact-button-header {
    text-decoration: none;
    color: var(--clr-ft-dark);
    font-weight: 900;
    font-size: 1.25rem;
  }
  /* li a:hover {
    background-color: rgb(149, 149, 149);
  } */
  /* li a:hover::after, .contact-button-header:hover::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(149, 149, 149);
    width: 100%;
    z-index: -1;
  } */
}
footer {
  height: 15dvh;
  border-top: 1 px solid rgb(78, 78, 78)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hamburger:has(input:checked) {
  --clr-ft-dark: rgb(200, 200, 200); 
  --backG:

  .hamberger 
}
.sidebar {
  display: none;
  min-width: 12rem;
  min-height: 93dvh;
  background-color: var(--foreG);
  justify-content: center;
  align-items: center;
  transition: var(--animation-timing);
  transform: translate3d(-100%, 0, 0);
  transition-delay: .2s; 
  ul {
    /* margin-top: 6rem; */
    text-align: left;

  }
  ul li:first-child:not(.AppDrawer ul li) {
      margin-top: 0;
  }
  ul li:not(.AppDrawer ul li) {
    margin-top: 3rem;
    position: relative;
    padding: 0 153px;
    overflow: hidden;
  }
  ul li a:hover {
   transition: 250ms ease;
  }
  ul li a:not(.AppDrawer ul li a) {
    display: flex;
    color: var(--clr-ft-light);
    transition: var(--animation-timing);
    transform: translate3d(0, 100%, 0);
    transition-delay: 0s; 
    font-size: 4rem;
    font-family: "Orbitron";
    letter-spacing: 1px;
  }
  .contact-button-header {
    color: var(--clr-ft-light);
    transition: var(--animation-timing);
    transform: translate3d(0, 100%, 0);
    transition-delay: 0s; 
    font-size: 4rem;
    font-family: "Orbitron", system-ui, sans-serif;
  }
}


.hamburger:has(input:checked) + .sidebar {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s; 

  .contact-button-header,  
  ul li a:not(.AppDrawer ul li a)  {
    transition-delay: .3s;
    transform: translate3d(0, 0, 0);
  }
}


.hamburger:has(input:focus-visible)::before, 
.hamburger:has(input:focus-visible)::after,
.hamburger input:focus-visible  {
 border: 1px solid var(--foreG);
 box-shadow: 0 0 0 1px var(--backG);
}
.hamburger::before,
.hamburger::after,
.hamburger input {
 content: '';
 width: var(--bar-width);
 height: var(--bar-height);
 background-color: var(--clr-ft-dark);
 border-radius: 100vw;
 transform-origin: left center;
 transition: all var(--animation-timing),
 width var(--animation-timing),
 rotate var(--animation-timing),
 translate var(--animation-timing);
}
.hamburger {
--x-width: calc(var(--hamb-height) * 1.41421356237);

  display: none;
  flex-direction: column;
  gap: var(--hamb-gap);
  width: max-content;
  position: absolute;
  left: var(--hamb-margin);
  top: var(--hamb-margin);
  z-index: 100;
  cursor: pointer;
}
.hamburger input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  opacity: 0;
}
.hamburger:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger:has(input:checked)::after {
rotate: -45deg;
width: var(--x-width);
translate: 0 calc(var(--bar-height) / 2);
}

.container {
    /* height: calc(min(100dvh) - 30dvh); */
    display: grid;
    justify-content: center;
}
.wrapper-login {
  margin-block: 15rem;
}
.wrapper-users {
  margin-block: 10rem 3rem;
  width: 300px;
}
.main-grid {
  --column-count: 6;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 
  minmax(1rem, 1fr) 
  repeat(var(--column-count), 
  minmax(0, 12rem)) minmax(1rem, 1fr);
  margin-top: 15dvh;
}
.main-grid>* {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: subgrid;
  overflow: hidden;
}
.hero {
  min-height: 73vh;
}

.hero__img, .filterImage {
  grid-row: 1;
  grid-column: 4 / 9;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 0 0;
  /* border-radius: 2rem 0 0 2rem; */
  /* transform: scale(0.8) translateY(50px) translateZ(50px); */
  transform: scale(0.9) translateX(75px) translateZ(75px) perspective(200px);
  animation: smoothScale 1s ease-out; 
  will-change: transform;
  /* animation-duration: 600ms; */
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}
@keyframes smoothScale {
  0% {
    transform: scale(0.9) translateX(75px) translateZ(75px);
    border-radius: 0 0 0 0;
  }
  50% {
    transform: scale(0.9) translateX(40px) translateZ(0);
    border-radius: 0 0 0 0;
  }
  100% {
    transform: scale(1) translateX(0) translateZ(0);
    border-radius: 2rem 0 0 2rem; /* Apply a little depth effect */
  }
}
.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  transition: all 1000ms ease;
}
.background.active {
  transform:translateY(-80%);
}
.background img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.hero__img {
  z-index: 0;
}
.filterImage {
  z-index: 1;
  /* background-color: #00000053; */
}
.about-section {
  grid-template-rows: auto;
  grid-auto-flow: dense;
  align-items: center;
  align-content: center;
  min-height: 85dvh;
}
#about-section-2 {
  /* background-color: conic-gradient(var(--backG), #03505ab5 75%); */
  /* background: radial-gradient(ellipse at top, var(--backG), transparent),
  radial-gradient(ellipse at bottom, #03505ab5, transparent); */
  background-image: linear-gradient(180deg, var(--backG), #03505ab5);
}
#about-section-3 {
  /* background-color: radial-gradient(var(--backG), #03505ab5); */
  /* background-color: #03505a5d; */
  /* background: radial-gradient(ellipse at top, #03505ab5, transparent),
  radial-gradient(ellipse at bottom, var(--backG), transparent); */
  background-image: linear-gradient(180deg, #03505ab5, var(--backG));
}
.details {
  grid-column: 3 / 6;
  padding: 2rem;
}
#details-2 {
  grid-column: 5 / 8;
  padding: 2rem;
 
}
#details-3 {
  grid-column: 3 / 6;
  padding: 2rem;
 
}
.details span::before {
  content: "185";
  position: absolute;
  top: -3.9rem;
  left: -9rem;
  font-size: 7rem;
  font-family: "Orbitron";
  font-weight: 900!important;
  opacity: .1;
}
/* #details-2 span::before {
  content: "142";
  position: absolute;
  top: -3.9rem;
  left: -9rem;
  font-size: 7rem;
  font-family: "Orbitron";
  font-weight: 900!important;
  opacity: .1;
} */
.details span {
  position: relative;
  font-size: 1rem;
  font-family: "Orbitron";
  padding-left: 5rem;
  color: var(--clr-ft-light);
  font-weight: 100;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.details span::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  left: calc(5rem - 50px);
  top: 50%;
  background-color: var(--clr-ft-light);
  backdrop-filter: blur(10px);
}

.p-1 {
  padding-top: .5rem;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: .5rem;
  color: var(--clr-ft-light);
}
.p-2 {
  color: var(--clr-ft-light);
}
.insetImage {
  grid-row: 2;
  grid-column: 6 / 9;
  /* height: 200px; */
}
.insetImage img {
  height: 300px;
  width: auto;
}
.main__title, .about__title {
  font-family: "Orbitron", system-ui, sans-serif;

}
.main__title {
  font-size: clamp(3.5rem, 7vw, 10rem);
  margin-top: calc(6rem - clamp(1rem, 5vw, 5rem));
  text-shadow: 1px 1px 3px #2fa5b5fe;
  letter-spacing: -1px;
  font-weight: 900;
}
.hero__title {
  grid-column: 2 / 8;
  grid-row: 1;
  z-index: 2;
}
.about__title {
  grid-column: 2 / 9;
  padding-bottom: 4rem;
  padding-left: 2rem;
  font-size: 2rem;
  color: var(--clr-ft-light);
}
h1 span {
  color: #ce3d3d;
  /* letter-spacing: -2px; */
  text-shadow: 1px 1px 2px #03505a;
}
.hero__body {
  /* display: grid;
  grid-row: 1;
  grid-column: 2 / 4;
  margin-top: calc(12rem - clamp(1rem, 2vw, 15rem));
  padding-left: 1rem;
  position: relative; */
  display: grid;
    grid-row: 1;
    grid-column: 2 / 4;
    /* margin-top: calc(12rem - clamp(1rem, 2vw, 15rem)); */
    /* padding-left: 1rem; */
    /* margin-top: 4rem; */
    position: relative;
    align-items: center;
}
.hero__subtitle {
    display: flex;
    width: 100%;
    height: fit-content;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    transition: 200ms ease;
    color: hsl(from var(--clr-ft-dark) h s l / 95%);
    /* background-color: #dbdada5e; */
    padding: 1.5rem;
    border-radius: 3rem 0 3rem 0;
}
@media(max-width: 845px) {
  .hero__subtitle {
    line-height: 1.1;
    background: transparent;
  }
}
.btn-logout {
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: -20px;
  font-weight: 600;
  color: var(--clr-ft-dark);
  z-index: 10;
}
.contact-btn {
    position: absolute;
    /* bottom: calc(clamp(0rem, 12vw, 15rem) - 4.7rem); */
    bottom: 5px;
    left: 1rem;
    padding: .75rem 1rem;
    border-style: dashed;
    border-color: rgb(172 63 63);
    border-width: 2px;
    border-radius: var(--radius);
    outline: 2px solid;
    outline-offset: 3px;
    height: fit-content;
    transition: all 250ms ease;
    background-color: #3f5b62;
    z-index: 3;
    font-family: var(--ft-title);
    font-weight: bolder;
    color: #a6a6a6;
    /* text-transform: uppercase; */
}
.contact-btn:hover {
 background-color: rgb(149, 149, 149);
 color: rgb(213, 213, 213);
}
.small_screen {
  display: none;
}
@media (max-width: 650px) {
  .main-grid>*>* {
    grid-column: 1 / -1;
  }
  #details-2, #details-3 {
    grid-column: 3 / 8;
  }
  .about__title {
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
  .insetImage img {
    display: block;
    float:right;
    padding-right: 3rem;
  }
  header {
    align-items: start;
  }
  header .navUl {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .sidebar {
    display: flex;
  }
  .theme-selector {
    justify-self: flex-end!important;
    rotate: 179deg!important;
    padding: .5rem 1rem!important;
  }
  .theme-selector svg {
    font-size: 3.4rem!important;
  }
 
  .hero {
    min-height: 50dvh;
  }
  .hero__img, .filterImage {
    grid-column: 1 / -1;
    border-radius: 0!important;
  }
  .hero__title {
    margin-top: 5.5rem;
    font-size: clamp(2.4rem, 11vw, 5rem);
  }
  .hero__body {
    display: none;
  }
  .small_screen {
    display: grid;
    padding-block: 1rem;
    align-items: end;
  }
  .hero__body_2 {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .hero__subtitle {
    padding: 1.5rem 1.5rem 0;
  }
  .contact-btn {
    position: relative;
    bottom: 0rem;
    justify-self: self-end;
    grid-row: 2;
    grid-column: 4 / 8;
    height: fit-content;
    margin: 1rem .6rem;
  }
}

/* Forms */

#form-login {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.form-control {
  display: grid;
  text-align: left;
}
.form-control > :user-invalid {
  outline: 3px solid rgb(225, 55, 55);
  outline-offset: -4px;
  }

  .form-control input,
  .form-control textarea,
  .form-control select {
    padding: .5rem;
    border: 1px solid ;
    background-color: rgb(157, 157, 157);
    width: 100%;
    /* color: var(--clr-title);
    font-size: var(--ft-sm-me); */
  }
  .form-control input:focus,
  .form-control textarea:focus,
  .form-control select:focus {
    outline: 3px solid var(--clr-ft-dark);
    outline-offset: -3px;
    transition: .2s ease;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--clr-footer-header);
    letter-spacing: .18rem;
    opacity: .5;
  }
  .form-control span, .errors{
    color: #eca0a0;
    /* font-size: calc(var(--ft-small) + 2px); */
    text-align: center;
    font-weight: 800;
}